<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Location | Bytes By Dr. Comp</title>
	<link rel="stylesheet" href="3308LocationPage.css">
<body>
	<div class="location-page">
	<div class="form">
		<form class="location-form">
			<input type="text" placeholder="Location" required>
			<button>Enter</button>
		</form>
	</div>
	</div>
</body>
</head>
</html>