<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Account | Bytes By Dr. Comp</title>
	<link rel="stylesheet" href="3308LoginPage.css">
</head>
<body>
	<div class="login-page">
	<div class="form">
		<img src="3308LoginIcon.png" class="avatar">
		<form class="register-form">
			<!-- want to put restrictions on username and password characters -->
			<input type="text" placeholder="Create a username" required>
			<input type="password" placeholder="Create a password" required>
			<button>Sign up</button>
		<p class="message">Already have an account? <a href="#">Login</a></p>
		</form>

		<form class="login-form">
		<input type="text" placeholder="Username">
		<input type="password" placeholder="Password">
		<button>Login</button>
		<p class="message">Don't have an account? <a href="#">Sign up</a></p>

		</form>
	</div>
	</div>

	<script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>

	<script>
		$('.message a').click(function()
		{$('form').animate({height: "toggle", opacity: "toggle"}, "slow"); }
		);
	</script>
</body>
</head>
</html>