<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Play My Music! | Bytes By Dr. Comp</title>
	<link rel="stylesheet" href="3308MusicPage.css">
<body>
	<div id="locator">
	<div class="label">
		<p class="message">Today's Weather:</p>
	</div>

	<p class="weather"><%= weather %></p>

	<div class="label">
		<p class="message">Playlist of the Day:</p>
	</div>
	<iframe src="https://open.spotify.com/embed/user/spotify/playlist/37i9dQZF1DX2rBR3X9E86S" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
	</div>
</body>
</head>
</html>