<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Play My Music! | Bytes By Dr. Comp</title>
	<link rel="stylesheet" href="3308MusicPage.css">
<body>
	<div id="locator">
	<div class="label">
	<% if (weather !== null) { %>
		<p class="message">Today's Weather:</p>
	</div>

	<p class="weather"><%= weather %></p>
	<%= temp %>

	<div class="label">
		<p class="message">Playlist of the Day:</p>
	</div>
	<iframe src=<%= playlist %> width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe> } %>

	<% if (error == null)
		{ %>
		<p><%= error %></p>
	</div>
</body>
</head>
</html>